<!DOCTYPE html>
<html>

  <head>
    <title>CFAGatesVaccinationv3</title>
    <%= csrf_meta_tags %>


    <!-- Bootstrap core CSS -->
    <!-- <link href="/assets/bootstrap.min.css" rel="stylesheet"> -->
    <!-- Custom styles for this template -->
    <!-- <link href="/assets/carousel.css" rel="stylesheet"> -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    <meta name="description" content="Global Polio Vaccination">
    <meta name="Dan Martin" content="">

  </head>



  <!-- NAVBAR
  ================================================== -->
    <body>
      <div class="navbar-wrapper">
        <div class="container">

          <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href='https://au.linkedin.com/in/danmartin99?trk=profile-badge'>Global Polio Vaccination</a>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li class="active"><a href="/projects">Home</a></li>
                  <li><a href="/projects">Projects</a></li>
                  <li><a href='/patients'>Patients</a></li>
                  <li><a href='/vaccinators'>Vaccinators</a></li>
                  <li><a href='/grcrds'>Grant Coordinators</a></li>
                  <li><a href='/users/sign_in'>User Sign In</a></li>
                  <li><a href='/users/edit'>User Edit</a></li>
                  <li class="dropdown">
                    <a href="/projects" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="/projects">Projects</a></li>
                      <li><a href="/patients">Patients</a></li>
                      <li><a href="/vaccinators">Vaccinators</a></li>
                      <li><a href="/grcrds">Grant Coordinators</a></li>
                      <li role="separator" class="divider"></li>
                      <li class="dropdown-header">Nav header</li>
                      <li><a href="/grcrds">Grant Coordinator</a></li>
                      <li><a href="#">One more separated link</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>




  <body>
    <%= yield %>
  </body>
</html>
